<!DOCTYPE html>
<html>
	<head>
  <title>Five tips that will help you succeed in High School</title>
  </head>
  <body>
   <div class="container text-center">
	    
        	<h1>Seven tips that will help you succeed in High School</h1>
      <h2>
      <h2>7.Take your classes seriously.</h2>
       <img src="">
	        <p>
	         This might seem like common sense to some people. Achieving academically can contribute to a person’s success in life. 
 Some of you, on the other hand,  might be tired of hearing this which is also understandable. However, no matter how many talents you might have or how many elaborate plans you’re hoping will help you succeed career wise, taking your academics seriously can still benefit you immensely in the long run. 
 So before you blow off a big test because you know you’re going to be famous someday anyway, ask yourself what you have to lose by studying for that test. The answer is virtually  nothing.
 BTW, here were my grades sophomore year. Impressive, no? Alas, there is more to the story and if you keep reading you will find out. (which many argue to be the most important year of high school with regards to your performance even trumping junior year):
	        </p>
        
      <h2>5. Don't blow off standardized tests.</h2>
       <img src="">
	        <p>
                    Virtually all high school student will take one or more standardized tests throughout their high school journey. Regents exams, AP exams, the PSAT, the SAT, and even nationally 
          administered exams like the Chemistry or Biology Olympiad full under the standardized category. There has been a host of debate about whether or not standardized testing actually benefits students. 
          Regardless, standardized testing isn’t going away any time soon so blowing off that Regents exam because you think that it won’t help you in the long run, might not be a good move. 
          Standardized testing matters and will influence your chances of getting into a good college even if its validity is being simultaneously questioned.  

Oh, and don’t underestimate the power of a good review book. Choosing a crappy review book is the worst thing you can do when preparing for a standardized test.
Here are some of links to good review books for a number of  standardized tests:
SAT: Link							
AP-English Language: Link		  
AP Biology: Link
AP Chemistry:  Link
PSAT: Link
AP  US History: Link (this is probably the best reviewbookI used)

	         </p>
		   
	    <h2>4.Don't care <i>too</i> much about academics.</h2>
             <p>
            There’s a fine line between taking your academics seriously and  going absolutely crazy. Here are some signs you may be focusing too heavily on your academics:
    The only thing you think about is school.
    School seems to come before anything else in your life.
    School related  pressures are making it difficult for you to have a social life.
    Your grades are starting to slip (that’s right, obsessing about academics can actually cause your grades to go down. Crazy right?) 
    Sure, your grades and test scores matter but the best goal to strive for in high school with regards to academics is being the best you can be. If you’re doing all that you can to succeed, that’s really all that matters. For this reason, pushing yourself to the point of exhaustion won’t help you especially since remaining hyperfocused on academics can take away time you could use to participate in various extracurricular activities. Which brings us to our next point… 
          </p>
       <h2>3.Don't burn out freshmen year.</h2>
       <p>
       </p>
      <h2>2.Neglecting Extracurriculars.</h2>
		        <p>
                           This is a big one. Don’t just go through high school trying to get good grades. Not only do extracurriculars look good on your college application but they can really 
                   develop into a legitimate passion which you will enjoy doing for years to come. Don’t underestimate the importance of developing interests outside of academics. 
                   Some activities that can fall under the extracurricular category include sports, clubs, volunteer work, and even  part-time jobs. Extracurricular activities can
                   help you get to know new people making high school slightly less lonely. 
            </p>
      <h2>1. ******* Putting your academics and social life before your health and happiness. </h2>  
             <p>
                           If you find yourself studying at 2 am in the morning, I want you to remember this. If you find yourself stressing about how a friend of yours didn’t invite you to their party in the middle of the night,  REMEMBER THIS. 
                   There are no academic or social endeavors that are more important than your health and happiness. It’s hard to savor sucsess when you’re unhappy and health and happiness often go hand in hand. 
                   While high school does place on students what seems like overwhelming pressure to be popular and to succeed academically, its important that your goals in high school don’t negatively 
                   impact your physical and, especially, your mental health, in a significant way. REMEMBER THIS. 
          
          </p>
    </div>
		<br><br>
  </body>
  </html>
